
  .nav{
    background-color:#2C3E50 ;
 color: #fff!important;
 color: white!important;
  }
  .change{
    font-size: 35px!important;
    font-weight: 500;
  }
.change2{
  Font-Weight:400;

Font-Size:20px;


}